// Fontes
$fonte: 'Roboto', sans-serif;

// Cores 
$cor-primaria: #193498;
$cor-secundaria: #1597E5;
$cor-terciaria: #69DADB;
$cor-fonte: #000000;

// Tamanho das fontes 
$tamanho-texto: 3rem;